<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left" style="height: 80vh;">
                        <div class="contents">
                            <input type="text" id="search"  placeholder="Search Your City Here..">
                            <button type="button" id="btn1" class="btn btn-primary">Search</button>
                            <div class="weatherStatus">
                                <div class="row">
                                    <div class="col-4 " id="renderData1">
                                        <h2>City:</h2>
                                        <h2>Temperature:</h2>
                                        <h3>Feels Like:</h3>
                                        <h3>Wind:</h3>
                                        <h2>Weather:</h2>
                                    </div>
                                    <div class="col-8 " id="renderData2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Created by Aditya Sinha</p>
    </footer>
    <script type = "text/javascript" src="js/getdata.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</body>
</html>